openapi: 3.0.1
info:
  title: Czech Open Banking Standard
  version: 8.0.0
  description: ''
  contact:
    name: Petr Michalik
    email: pmichalik@csas.cz
servers:
  - url: 'https://api.bank.cz'
    description: An openbanking test server
components:
  securitySchemes:
    OAuth2:
      description: |
        This API uses OAuth 2 with the implicit grant flow.
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          scopes:
            AISP: Access to all services within AISP
            aisp.accounts: Access to an overview of accounts
            aisp.balances: Access to information about balances
            aisp.transactions: Access to the overview of transactions
            aisp.directdebits: Access to the direct debits
            aisp.standingorders: Access to the standing orders
            PISP: Access to all services within PIS
            pisp.payments: Option to initiate payment
            pisp.directdebits: Ability to initiate a direct debits
            pisp.standingorders: Ability to initiate a standing order
            pisp.accounts: >-
              Ability to obtain a list of accounts from those ASPS that offer a
              list of accounts together with PIS servicesA
    ClientCert:
      description: |
        Use of an x509 client certificate within mutual TLS
      type: http
      scheme: mutualTLS
    ApiKey:
      description: >
        An optional string issued to a communicating third party as the call
        identifier of that party primarily serving as a communication
        configuration element.
      type: apiKey
      in: header
      name: API-key
paths:
  /my/accounts:
    get:
      summary: List of client payment accounts
      description: >
        Paged list of client accounts. Each account contains a unique id usable
        for URI referencing, e.g. for the account detail.


        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** yes
          * **Sorting:**  yes
          * **Filtering:**  no
      operationId: '-getAllAccounts'
      tags:
        - Account information
      security:
        - OAuth2:
            - AISP
            - aisp.accounts
          ClientCert: []
          ApiKey: []
      parameters:
        - name: size
          in: query
          description: >
            It defines the required number of records on the page. If the
            parameter is not specified, the API returns the entire set.
          required: false
          schema:
            title: pageSizeParam
            description: >
              It defines the required number of records on the page. If the
              parameter is not specified, the API returns the entire set.
            type: integer
            example: 25
        - name: page
          in: query
          description: >
            It defines the required page number. Pages are numbered from 0. If
            the parameter is not specified, the API returns the first (zero)
            page.
          required: false
          schema:
            title: pageParam
            description: >
              It defines the required page number. Pages are numbered from 0. If
              the parameter is not specified, the API returns the first (zero)
              page.
            type: integer
            example: 1
        - name: sort
          in: query
          description: >
            It defines a list of fields for sorting. The individual fields in
            the list are separated by a comma
          required: false
          schema:
            title: sortParam
            description: >
              It defines a list of fields for sorting. The individual fields in
              the list are separated by a comma
            type: string
            example: iban
        - name: order
          in: query
          description: >
            A list of arrangement methods (ASC, DESC) separated by comma. The
            order corresponds to the order of fields in the sort parameter.
          required: false
          schema:
            title: orderParam
            description: >
              A list of arrangement methods (ASC, DESC) separated by comma. The
              order corresponds to the order of fields in the sort parameter.
            type: string
            example: ASC
        - name: Content-Type
          in: header
          description: >
            Defines MIME media type of the resource. For example
            application/json or application/x-www-form-urlencoded (OAuth2 /auth
            resources) and application/xml in case of bulk payment initiation.
          required: true
          schema:
            title: contentType
            description: >
              Defines MIME media type of the resource. For example
              application/json or application/x-www-form-urlencoded (OAuth2
              /auth resources) and application/xml in case of bulk payment
              initiation.
            type: string
            maxLength: 50
            example: application/json
        - name: Authorization
          in: header
          description: >
            Contains the credentials to authenticate a user agent with a server.
            Element is defined in RFC 6750 In the case of this specification as
            Bearer Token Usage.
          required: true
          schema:
            title: authorization
            description: >
              Contains the credentials to authenticate a user agent with a
              server. Element is defined in RFC 6750 In the case of this
              specification as Bearer Token Usage.
            type: string
            maxLength: 1024
            example: Bearer 77d49180-f486-40cf-8a63-87f4f639027c
        - name: API-key
          in: header
          description: >
            The API key issued for TPP is part of the communication
            configuration for better identification of third-party call access
            settings. In essence, this is not a security element.
          required: false
          schema:
            title: apiKey
            description: >
              The API key issued for TPP is part of the communication
              configuration for better identification of third-party call access
              settings. In essence, this is not a security element.
            type: string
            maxLength: 10
            example: ce0f4b31-fe74-4403-92ef-2d706f288107
        - name: Accept
          in: header
          description: >
            The Accept request HTTP header specifies which content types,
            expressed as MIME types, the client is able to understand.
          required: false
          schema:
            title: accept
            description: >
              The Accept request HTTP header specifies which content types,
              expressed as MIME types, the client is able to understand.
            type: string
            maxLength: 50
            example: 'application/json,application/xml;q=0.9,*/*;q=0.8'
        - name: Accept-Language
          in: header
          description: >
            The Accept-Language request HTTP header specifies which languages
            the client is able to understand, and which locale variant is
            preferred. If no `Accept-Language:` is given, local country language
            is assumed.


            For example:
              - Accept-Language: *
              - Accept-Language: en-US, en;q=0.8
          required: false
          schema:
            title: acceptLanguage
            description: >
              The Accept-Language request HTTP header specifies which languages
              the client is able to understand, and which locale variant is
              preferred. If no `Accept-Language:` is given, local country
              language is assumed.


              For example:
                - Accept-Language: *
                - Accept-Language: en-US, en;q=0.8
            type: string
            maxLength: 50
            example: 'en-US, en;q=0.8'
        - name: X-Request-ID
          in: header
          description: >
            Unique identifier for each request specified by TPP. It is
            recommended to use a UUID format with a length of 36 to 60
            characters.
          required: true
          schema:
            title: xRequestId
            description: >
              Unique identifier for each request specified by TPP. It is
              recommended to use a UUID format with a length of 36 to 60
              characters.
            type: string
            maxLength: 60
            example: f713da2b-6908-4c3f-9461-784f74b86710
        - name: Date
          in: header
          description: >
            Each request of a transaction contains the date and time at which
            the message was originated. In timestamp format.
          required: true
          schema:
            title: dateHeader
            description: >
              Each request of a transaction contains the date and time at which
              the message was originated. In timestamp format.
            type: string
            example: '1568452389'
        - name: Content-Length
          in: header
          description: >
            The Content-Length entity-header field indicates the size of the
            entity-body, in decimal bytes, sent to the recipient.
          required: false
          schema:
            title: contentLength
            description: >
              The Content-Length entity-header field indicates the size of the
              entity-body, in decimal bytes, sent to the recipient.
            type: number
            example: 16529
        - name: Transfer-Encoding
          in: header
          description: >
            The Transfer-Encoding general-header field specifies the form of
            encoding used to safely transfer the request payload to the ASPSP
            and back to TPP.
          required: false
          schema:
            title: transferEncoding
            description: >
              The Transfer-Encoding general-header field specifies the form of
              encoding used to safely transfer the request payload to the ASPSP
              and back to TPP.
            type: string
            example: gzip
        - name: Action-ID
          in: header
          description: >
            IDs that identify the technical or business process within the call
            of each API request.


            For example, it can be used to identify the process of retrieving a
            transaction history that is provided as a paged response available
            through multiple requests.
          required: false
          schema:
            title: actionId
            description: >
              IDs that identify the technical or business process within the
              call of each API request.


              For example, it can be used to identify the process of retrieving
              a transaction history that is provided as a paged response
              available through multiple requests.
            type: string
            maxLength: 60
            example: 2f549458-b592-4a85-ad57-e9610dfd5218
        - name: User-Involved
          in: header
          description: >
            The flag identifies if the end user is online and the request was
            made based on his activity.
          required: true
          schema:
            title: userInvolved
            description: >
              The flag identifies if the end user is online and the request was
              made based on his activity.
            type: boolean
            example: true
        - name: User–IP-Address
          in: header
          description: >
            Identifies the API's end-user IP address. The TPP should fill this
            value if the IP address can be detected. The address can be in IPv4
            or IPv6 format.
          required: false
          schema:
            title: userIpAddress
            description: >
              Identifies the API's end-user IP address. The TPP should fill this
              value if the IP address can be detected. The address can be in
              IPv4 or IPv6 format.
            type: string
            maxLength: 50
            example: 192.168.1.221
        - name: User–IP-Port
          in: header
          description: >
            An element used to pass on information about what end-user IP port
            is using.
          required: false
          schema:
            title: userIpPort
            description: >
              An element used to pass on information about what end-user IP port
              is using.
            type: string
            maxLength: 40
            example: '443'
        - name: User-Device-OS
          in: header
          description: >
            The element is used to forward information about the end user
            operating system used.
          required: false
          schema:
            title: userDeviceOs
            description: >
              The element is used to forward information about the end user
              operating system used.
            type: string
            maxLength: 100
            example: Mac OS
        - name: User-User-Agent
          in: header
          description: >
            Contains information about the end-user web browser. The format
            should be the same as the standard HTTP parameter User-Agent.
          required: false
          schema:
            title: userUserAgent
            description: >
              Contains information about the end-user web browser. The format
              should be the same as the standard HTTP parameter User-Agent.
            type: string
            maxLength: 200
            example: >-
              Mozilla/5.0 (Macintosh; Intel Mac OS X x.y; rv:42.0)
              Gecko/20100101 Firefox/42.0
        - name: User-Timestamp
          in: header
          description: |
            Local time on User's device.
          required: false
          schema:
            title: userTimestamp
            description: |
              Local time on User's device.
            type: string
            example: '1568452581'
        - name: User-Geo-Location
          in: header
          description: >
            End-user GPS coordinates (if the coordinates can be reliably
            detected).


            **Required format:** GEO:Latitude;Longitude


            Based on [RFC2426] in signed degrees format (DDD.dddd)
          required: false
          schema:
            title: userGeoLocation
            description: >
              End-user GPS coordinates (if the coordinates can be reliably
              detected).


              **Required format:** GEO:Latitude;Longitude


              Based on [RFC2426] in signed degrees format (DDD.dddd)
            type: string
            maxLength: 100
            example: 'GEO:50.089354;14.400031'
        - name: User-Device-ID
          in: header
          description: >
            It contains a unique identifier of end user equipment, if available.
            For example, a unique mobile device identifier (IMEI).
          required: false
          schema:
            title: userDeviceId
            description: >
              It contains a unique identifier of end user equipment, if
              available. For example, a unique mobile device identifier (IMEI).
            type: string
            example: '990000862471854'
        - name: TPP-Name
          in: header
          description: >
            The name of the original TPP that created the request. Eg. ‘Star
            corporation, a.s.’.
          required: true
          schema:
            title: tppName
            description: >
              The name of the original TPP that created the request. Eg. ‘Star
              corporation, a.s.’.
            type: string
            example: 'Star Corporation, a.s.'
        - name: TPP-Identification
          in: header
          description: >
            The identification (licence number) of the original TPP that created
            the request. Eg. ‘CZ013574-15’.
          required: false
          schema:
            title: tppIdentification
            description: >
              The identification (licence number) of the original TPP that
              created the request. Eg. ‘CZ013574-15’.
            type: string
            example: CZ013984-14
        - name: Signature
          in: header
          description: |
            If the TPP signs the request, it contains a digital signature.
          required: false
          schema:
            title: signatureHeader
            description: |
              If the TPP signs the request, it contains a digital signature.
            type: string
            example: ACDE666345014BB46003B0706277D9F0A407CC6815DE7F550CF83310F1A82D9C
        - name: Digest
          in: header
          description: >
            When an TPP  includes a signature he also must include a "Digest"
            header as defined in [RFC3230].
          required: false
          schema:
            title: digestHeader
            description: >
              When an TPP  includes a signature he also must include a "Digest"
              header as defined in [RFC3230].
            type: string
            example: F6A5CBE090AE0506D5EB1D0D38370FE8EC55591545F234B5B09F8832AF434CCA
        - name: TPP-Signature-Certificate
          in: header
          description: >
            The public TPP certificate used for signing the request, In base64
            encoding (with the "BEGIN CERTIFICATE" and "END CERTIFICATE"
            markers).
          required: false
          schema:
            title: tppSignatureCertificate
            description: >
              The public TPP certificate used for signing the request, In base64
              encoding (with the "BEGIN CERTIFICATE" and "END CERTIFICATE"
              markers).
            type: string
            example: >-
              B837482297624E072EB04C0A8CA6A03ED48FBFD74255DEAA2DE471E9F203AFB5...
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
            X-Request-ID:
              description: >
                Unique identifier for each request specified by TPP returned in
                response header.
              required: true
              schema:
                title: xRequestId
                description: >
                  Unique identifier for each request specified by TPP. It is
                  recommended to use a UUID format with a length of 36 to 60
                  characters.
                type: string
                maxLength: 60
                example: f713da2b-6908-4c3f-9461-784f74b86710
            Action-ID:
              description: >
                IDs that identify the technical or business process within the
                call of each API request. APSPS should have a return value in
                this case.
              required: false
              schema:
                title: actionId
                description: >
                  IDs that identify the technical or business process within the
                  call of each API request.


                  For example, it can be used to identify the process of
                  retrieving a transaction history that is provided as a paged
                  response available through multiple requests.
                type: string
                maxLength: 60
                example: 2f549458-b592-4a85-ad57-e9610dfd5218
            Signature:
              description: >
                If the ASPSP signs the response, it contains a digital
                signature.
              required: false
              schema:
                title: signatureHeader
                description: |
                  If the TPP signs the request, it contains a digital signature.
                type: string
                example: >-
                  ACDE666345014BB46003B0706277D9F0A407CC6815DE7F550CF83310F1A82D9C
            Digest:
              description: >
                When the ASPS in response includes a signature he also must
                include a "Digest" header as defined in [RFC3230].
              required: false
              schema:
                title: digestHeader
                description: >
                  When an TPP  includes a signature he also must include a
                  "Digest" header as defined in [RFC3230].
                type: string
                example: >-
                  F6A5CBE090AE0506D5EB1D0D38370FE8EC55591545F234B5B09F8832AF434CCA
            ASPSP-Signature-Certificate:
              description: >
                The public ASPSP certificate used for signing the request, In
                base64 encoding.
              required: false
              schema:
                title: aspspSignatureCertificate
                description: >
                  The public ASPSP certificate used for signing the request, In
                  base64 encoding.
                type: string
                example: >-
                  4710C3600CB14042ADE6EBA7194C2A2C01F6C2EEADF7894AF212797C53BB84D0...
          content:
            application/json:
              schema:
                title: getAllAccounts
                description: Response message list of client payment accounts
                type: object
                required:
                  - pageNumber
                  - pageCount
                  - pageSize
                  - accounts
                properties:
                  pageNumber:
                    title: pageNumber
                    description: |
                      Number of current page.
                    type: integer
                    example: 1
                  pageCount:
                    title: pageCount
                    description: |
                      Total number of query pages
                    type: integer
                    example: 12
                  nextPage:
                    title: nextPage
                    description: >
                      The number of the next page. If the current page is at the
                      same time the last page of the list, then this parameter
                      is not listed or is given with a null value.
                    type: integer
                    example: 2
                  pageSize:
                    title: pageSize
                    description: >
                      Number of entries per page. This parameter can match the
                      required size value from the query, except for the cases
                      when it is the last page, or when the requested page range
                      exceeded the maximum limit defined for the particular API
                      resource.
                    type: integer
                    example: 25
                  totalCount:
                    title: totalCount
                    description: >
                      Optional data about the total number of entries for all
                      pages. If this value cannot be precisely determined, it is
                      not stated.
                    type: integer
                    example: 298
                  accounts:
                    title: accountsList
                    description: |
                      Set of client accounts
                    type: array
                    items:
                      title: accountInfo
                      description: Info about client account
                      type: object
                      required:
                        - id
                        - identification
                        - servicer
                      properties:
                        id:
                          title: accountId
                          description: |
                            API Payment account identifier.
                          type: string
                          example: D2C8C1DCC51A3738538A40A4863CA288E0225E52
                        identification:
                          title: identification
                          description: |
                            Account identifier
                          type: object
                          required:
                            - iban
                          properties:
                            iban:
                              title: iban
                              description: International Bank Account Number (IBAN)
                              type: string
                              maxLength: 34
                              pattern: '[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}'
                              example: CZ0708000000001019382023
                            other:
                              title: other
                              description: >-
                                Another payer account identifier, e.g. the
                                account number.
                              type: string
                              maxLength: 35
                              example: '1019382023'
                        currency:
                          title: currencyCode
                          description: >
                            Defined account currency.


                            Currency code according to ISO 4217 = 3 capital
                            letters.
                          type: string
                          maxLength: 3
                          pattern: '[A-Z]{3}'
                          example: CZK
                        servicer:
                          title: servicer
                          description: Account servicer (bank)
                          type: object
                          properties:
                            bankCode:
                              title: bankCode
                              description: >-
                                Country Bank Code, provided when BIC is not
                                specified.
                              type: string
                              maxLength: 20
                              example: 0800
                            countryCode:
                              title: countryCode
                              description: |
                                ISO 3166-1 alpha-2 country code of the bank.
                              type: string
                              maxLength: 2
                              example: CZ
                            bic:
                              title: bicCode
                              description: |
                                BIC code of bank managing PSU account
                              type: string
                              pattern: >-
                                [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}
                              example: GIBACZPX
                        nameI18N:
                          title: nameI18N
                          description: |
                            Account name
                          type: string
                          example: Můj hlavní osobní účet
                        productI18N:
                          title: productI18N
                          description: |
                            Product name
                          type: string
                          example: Osobní účet ČS
                        realtionship:
                          title: relationship
                          description: |
                            Account realtionship with user
                          type: object
                          required:
                            - isOwner
                          properties:
                            isOwner:
                              title: isOwner
                              description: >-
                                True/false if the authenticated person is/is not
                                the owner (payer) of the account
                              type: boolean
                              example: true
                        suitableScope:
                          title: suitableScope
                          description: |
                            Account suported services
                          type: object
                          properties:
                            AISP:
                              title: suitableScopeAISP
                              description: >
                                If nothing is specified, the account supports
                                all AIS services. Otherwise, one or more 

                                scopes can be specified as a space-separatede
                                string.


                                Possible scopes:

                                * ```accountList``` - The account appears in the
                                list of accounts.

                                * ```accountBalance``` - It is possible to check
                                the balance of the account using the AIS
                                service.

                                * ```accountTransactions``` - It is possible to
                                get the transaction history of the account using
                                the AIS service.

                                * ```standingOrders``` - It is possible to get
                                the list of standing orders of the account using
                                the AIS service.

                                * ```domesticDirectDebits``` - It is possible to
                                get consents for direct debits using the AIS
                                service on the account.
                              type: string
                              example: accountList standingOrders
                            PISP:
                              title: suitableScopePISP
                              description: >
                                If nothing is specified, the account supports
                                all PIS services. Otherwise, one or more 

                                scopes can be specified as a space-separatede
                                string.


                                Possible scopes:

                                * ```paymentOrders``` - It is possible to
                                initiate a payment using the PIS service on the
                                account.

                                * ```paymentOrders.instantPayments``` - It is
                                possible to initiate a instant payment using the
                                PIS service on the account.

                                * ```standingOrders``` - It is possible to
                                initiate a standing order using the PIS service
                                on the account.

                                * ```batchPaymentInitiation``` - It is possible
                                to initiate a batch payment using the PIS
                                service on the account.

                                * ```domesticDirectDebits``` - It is possible to
                                make consent to direct debit using the PIS
                                service on the account.
                              type: string
                              example: paymentOrders paymentOrders.instantPayments
                            CISP:
                              title: suitableScopeCISP
                              description: >
                                If nothing is specified, the account supports
                                all CIS services. Otherwise, one or more 

                                scopes can be specified as a space-separatede
                                string.


                                Possible scopes:

                                * ```balanceCheck``` - For this account, it is
                                possible to request a balance check through the
                                CIS service.
                              type: string
                              example: paymentOrders paymentOrders.instantPayments
              example:
                pageNumber: 0
                pageCount: 2
                pageSize: 100
                nextPage: 1
                accounts:
                  - id: D2C8C1DCC51A3738538A40A4863CA288E0225E52
                    identification:
                      iban: CZ0708000000001019382023
                      other: '1019382023'
                    currency: CZK
                    servicer:
                      bankCode: 0800
                      countryCode: CZ
                      bic: GIBACZPX
                    relationship:
                      isOwner: true
                    nameI18N: Muj hlavni osobni ucet
                    productI18N: Osobní účet ČS
                    suitableScope:
                      AISP: ''
                      PISP: >-
                        paymentOrders paymentOrders.instantPayment
                        standingOrders
                      CISP: ''
        '400':
          description: Bad request
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
            X-Request-ID:
              description: >
                Unique identifier for each request specified by TPP returned in
                response header.
              required: true
              schema:
                title: xRequestId
                description: >
                  Unique identifier for each request specified by TPP. It is
                  recommended to use a UUID format with a length of 36 to 60
                  characters.
                type: string
                maxLength: 60
                example: f713da2b-6908-4c3f-9461-784f74b86710
            Action-ID:
              description: >
                IDs that identify the technical or business process within the
                call of each API request. APSPS should have a return value in
                this case.
              required: false
              schema:
                title: actionId
                description: >
                  IDs that identify the technical or business process within the
                  call of each API request.


                  For example, it can be used to identify the process of
                  retrieving a transaction history that is provided as a paged
                  response available through multiple requests.
                type: string
                maxLength: 60
                example: 2f549458-b592-4a85-ad57-e9610dfd5218
          content:
            application/json:
              schema:
                title: error400_getAllAccounts
                description: >
                  This is an invalid query that cannot be answered. E.g., if
                  JSON content is not valid for this resource.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      anyOf:
                        - title: error_PARAMETER_INVALID_400
                          description: |
                            The value of the parameter is not valid
                          type: object
                          required:
                            - error
                          properties:
                            error:
                              type: string
                              example: PARAMETER_INVALID
                            parameters:
                              title: errorParameters
                              description: >
                                The field of additional elements specific for
                                the given error code. These parameters are
                                always specified in the description of a
                                specific error code.
                              type: object
                              example:
                                AMOUNT_ENTERED: 10000
                                CURRENCY: EUR
                                LIMIT: 500
                            scope:
                              title: scope
                              description: >
                                It determines the JSON path of the request
                                element that caused the error status.
                              type: string
                              example: account.amount.currency
                            message:
                              title: errorMessage
                              description: >
                                Optional text description. It is not intended
                                for interpretation to the end user but, for
                                example, to enrich the error log.
                              type: string
                              example: Requested amount is too large
                          example:
                            - error: PARAMETER_INVALID
                              scope: page
                              parameters: null
                              message: null
              example:
                errors:
                  - error: PAGE_NOT_FOUND
                  - error: PARAMETER_INVALID
                    scope: sort
        '401':
          description: Unauthorised
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
          content:
            application/json:
              schema:
                title: error401
                description: |
                  Querying requires user authentication
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      anyOf:
                        - title: error_UNAUTHORISED_401
                          description: >
                            Invalid/missing access token = user is not
                            authenticated
                              OR
                            Invalid/missing certificate = provider is not
                            authenticated/authorised
                          type: object
                          required:
                            - error
                          properties:
                            error:
                              type: string
                              example: UNAUTHORISED
                            parameters:
                              title: errorParameters
                              description: >
                                The field of additional elements specific for
                                the given error code. These parameters are
                                always specified in the description of a
                                specific error code.
                              type: object
                              example:
                                AMOUNT_ENTERED: 10000
                                CURRENCY: EUR
                                LIMIT: 500
                            scope:
                              title: scope
                              description: >
                                It determines the JSON path of the request
                                element that caused the error status.
                              type: string
                              example: account.amount.currency
                            message:
                              title: errorMessage
                              description: >
                                Optional text description. It is not intended
                                for interpretation to the end user but, for
                                example, to enrich the error log.
                              type: string
                              example: Requested amount is too large
                          example:
                            - error: UNAUTHORISED
        '403':
          description: Forbidden
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
          content:
            application/json:
              schema:
                title: error403
                description: >
                  Authentication with an invalid certificate or expired access
                  token, a call that does not match a third-party license.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      anyOf:
                        - title: error_FORBIDDEN_403
                          description: >
                            Authentication with an invalid certificate or
                            expired access token, a call that does not match a
                            third-party license.
                          type: object
                          required:
                            - error
                          properties:
                            error:
                              type: string
                              example: FORBIDDEN
                            parameters:
                              title: errorParameters
                              description: >
                                The field of additional elements specific for
                                the given error code. These parameters are
                                always specified in the description of a
                                specific error code.
                              type: object
                              example:
                                AMOUNT_ENTERED: 10000
                                CURRENCY: EUR
                                LIMIT: 500
                            scope:
                              title: scope
                              description: >
                                It determines the JSON path of the request
                                element that caused the error status.
                              type: string
                              example: account.amount.currency
                            message:
                              title: errorMessage
                              description: >
                                Optional text description. It is not intended
                                for interpretation to the end user but, for
                                example, to enrich the error log.
                              type: string
                              example: Requested amount is too large
                          example:
                            - error: FORBIDDEN
        '415':
          description: Unsupported Media Type
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
            X-Request-ID:
              description: >
                Unique identifier for each request specified by TPP returned in
                response header.
              required: true
              schema:
                title: xRequestId
                description: >
                  Unique identifier for each request specified by TPP. It is
                  recommended to use a UUID format with a length of 36 to 60
                  characters.
                type: string
                maxLength: 60
                example: f713da2b-6908-4c3f-9461-784f74b86710
            Action-ID:
              description: >
                IDs that identify the technical or business process within the
                call of each API request. APSPS should have a return value in
                this case.
              required: false
              schema:
                title: actionId
                description: >
                  IDs that identify the technical or business process within the
                  call of each API request.


                  For example, it can be used to identify the process of
                  retrieving a transaction history that is provided as a paged
                  response available through multiple requests.
                type: string
                maxLength: 60
                example: 2f549458-b592-4a85-ad57-e9610dfd5218
          content:
            application/json:
              schema:
                title: error415
                description: >
                  Request contains a request for unsupported transmission type
                  (e.g. in relation to headers Accept and Accept-Language).
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      anyOf:
                        - title: error_UNSUPPORTED_MEDIA_TYPE_415
                          description: >
                            Request contains a request for unsupported
                            transmission type (e.g. in relation to headers
                            Accept and Accept-Language).
                          type: object
                          required:
                            - error
                          properties:
                            error:
                              type: string
                              example: UNSUPPORTED_MEDIA_TYPE
                            parameters:
                              title: errorParameters
                              description: >
                                The field of additional elements specific for
                                the given error code. These parameters are
                                always specified in the description of a
                                specific error code.
                              type: object
                              example:
                                AMOUNT_ENTERED: 10000
                                CURRENCY: EUR
                                LIMIT: 500
                            scope:
                              title: scope
                              description: >
                                It determines the JSON path of the request
                                element that caused the error status.
                              type: string
                              example: account.amount.currency
                            message:
                              title: errorMessage
                              description: >
                                Optional text description. It is not intended
                                for interpretation to the end user but, for
                                example, to enrich the error log.
                              type: string
                              example: Requested amount is too large
                          example:
                            - error: UNSUPPORTED_MEDIA_TYPE
        '500':
          description: Internal server error
          headers:
            X-Request-ID:
              description: >
                Unique identifier for each request specified by TPP returned in
                response header.
              required: true
              schema:
                title: xRequestId
                description: >
                  Unique identifier for each request specified by TPP. It is
                  recommended to use a UUID format with a length of 36 to 60
                  characters.
                type: string
                maxLength: 60
                example: f713da2b-6908-4c3f-9461-784f74b86710
            Process-ID:
              description: >
                IDs that identify the technical or business process within the
                call of each API request. APSPS should have a return value in
                this case.
              required: false
              schema:
                title: actionId
                description: >
                  IDs that identify the technical or business process within the
                  call of each API request.


                  For example, it can be used to identify the process of
                  retrieving a transaction history that is provided as a paged
                  response available through multiple requests.
                type: string
                maxLength: 60
                example: 2f549458-b592-4a85-ad57-e9610dfd5218
        '503':
          description: Service unavailable
          headers:
            X-Request-ID:
              description: >
                Unique identifier for each request specified by TPP returned in
                response header.
              required: true
              schema:
                title: xRequestId
                description: >
                  Unique identifier for each request specified by TPP. It is
                  recommended to use a UUID format with a length of 36 to 60
                  characters.
                type: string
                maxLength: 60
                example: f713da2b-6908-4c3f-9461-784f74b86710
            Process-ID:
              description: >
                IDs that identify the technical or business process within the
                call of each API request. APSPS should have a return value in
                this case.
              required: false
              schema:
                title: actionId
                description: >
                  IDs that identify the technical or business process within the
                  call of each API request.


                  For example, it can be used to identify the process of
                  retrieving a transaction history that is provided as a paged
                  response available through multiple requests.
                type: string
                maxLength: 60
                example: 2f549458-b592-4a85-ad57-e9610dfd5218
  '/my/accounts/{id}/balance':
    get:
      summary: Account balance
      description: >
        The balance of the specific client account according to the reference id
        account.


        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** no
          * **Sorting:**  no
          * **Filtering:**  no
      operationId: '-getAccountsBalances'
      tags:
        - Account information
      security:
        - OAuth2:
            - AISP
            - aisp.balances
          ClientCert: []
          ApiKey: []
      parameters:
        - name: id
          in: path
          description: >
            API payment account identifier from the response to a query on the
            list of accounts.
          required: true
          schema:
            title: accountId
            description: |
              API Payment account identifier.
            type: string
            example: D2C8C1DCC51A3738538A40A4863CA288E0225E52
        - name: currency
          in: query
          description: |
            Required account currency for multi-currency accounts.
          required: false
          schema:
            title: currencyCode
            description: |
              Defined account currency.

              Currency code according to ISO 4217 = 3 capital letters.
            type: string
            maxLength: 3
            pattern: '[A-Z]{3}'
            example: CZK
        - name: Content-Type
          in: header
          description: >
            Defines MIME media type of the resource. For example
            application/json or application/x-www-form-urlencoded (OAuth2 /auth
            resources) and application/xml in case of bulk payment initiation.
          required: true
          schema:
            title: contentType
            description: >
              Defines MIME media type of the resource. For example
              application/json or application/x-www-form-urlencoded (OAuth2
              /auth resources) and application/xml in case of bulk payment
              initiation.
            type: string
            maxLength: 50
            example: application/json
        - name: Authorization
          in: header
          description: >
            Contains the credentials to authenticate a user agent with a server.
            Element is defined in RFC 6750 In the case of this specification as
            Bearer Token Usage.
          required: true
          schema:
            title: authorization
            description: >
              Contains the credentials to authenticate a user agent with a
              server. Element is defined in RFC 6750 In the case of this
              specification as Bearer Token Usage.
            type: string
            maxLength: 1024
            example: Bearer 77d49180-f486-40cf-8a63-87f4f639027c
        - name: API-key
          in: header
          description: >
            The API key issued for TPP is part of the communication
            configuration for better identification of third-party call access
            settings. In essence, this is not a security element.
          required: false
          schema:
            title: apiKey
            description: >
              The API key issued for TPP is part of the communication
              configuration for better identification of third-party call access
              settings. In essence, this is not a security element.
            type: string
            maxLength: 10
            example: ce0f4b31-fe74-4403-92ef-2d706f288107
        - name: Accept
          in: header
          description: >
            The Accept request HTTP header specifies which content types,
            expressed as MIME types, the client is able to understand.
          required: false
          schema:
            title: accept
            description: >
              The Accept request HTTP header specifies which content types,
              expressed as MIME types, the client is able to understand.
            type: string
            maxLength: 50
            example: 'application/json,application/xml;q=0.9,*/*;q=0.8'
        - name: Accept-Language
          in: header
          description: >
            The Accept-Language request HTTP header specifies which languages
            the client is able to understand, and which locale variant is
            preferred. If no `Accept-Language:` is given, local country language
            is assumed.


            For example:
              - Accept-Language: *
              - Accept-Language: en-US, en;q=0.8
          required: false
          schema:
            title: acceptLanguage
            description: >
              The Accept-Language request HTTP header specifies which languages
              the client is able to understand, and which locale variant is
              preferred. If no `Accept-Language:` is given, local country
              language is assumed.


              For example:
                - Accept-Language: *
                - Accept-Language: en-US, en;q=0.8
            type: string
            maxLength: 50
            example: 'en-US, en;q=0.8'
        - name: X-Request-ID
          in: header
          description: >
            Unique identifier for each request specified by TPP. It is
            recommended to use a UUID format with a length of 36 to 60
            characters.
          required: true
          schema:
            title: xRequestId
            description: >
              Unique identifier for each request specified by TPP. It is
              recommended to use a UUID format with a length of 36 to 60
              characters.
            type: string
            maxLength: 60
            example: f713da2b-6908-4c3f-9461-784f74b86710
        - name: Date
          in: header
          description: >
            Each request of a transaction contains the date and time at which
            the message was originated. In timestamp format.
          required: true
          schema:
            title: dateHeader
            description: >
              Each request of a transaction contains the date and time at which
              the message was originated. In timestamp format.
            type: string
            example: '1568452389'
        - name: Content-Length
          in: header
          description: >
            The Content-Length entity-header field indicates the size of the
            entity-body, in decimal bytes, sent to the recipient.
          required: false
          schema:
            title: contentLength
            description: >
              The Content-Length entity-header field indicates the size of the
              entity-body, in decimal bytes, sent to the recipient.
            type: number
            example: 16529
        - name: Transfer-Encoding
          in: header
          description: >
            The Transfer-Encoding general-header field specifies the form of
            encoding used to safely transfer the request payload to the ASPSP
            and back to TPP.
          required: false
          schema:
            title: transferEncoding
            description: >
              The Transfer-Encoding general-header field specifies the form of
              encoding used to safely transfer the request payload to the ASPSP
              and back to TPP.
            type: string
            example: gzip
        - name: Action-ID
          in: header
          description: >
            IDs that identify the technical or business process within the call
            of each API request.


            For example, it can be used to identify the process of retrieving a
            transaction history that is provided as a paged response available
            through multiple requests.
          required: false
          schema:
            title: actionId
            description: >
              IDs that identify the technical or business process within the
              call of each API request.


              For example, it can be used to identify the process of retrieving
              a transaction history that is provided as a paged response
              available through multiple requests.
            type: string
            maxLength: 60
            example: 2f549458-b592-4a85-ad57-e9610dfd5218
        - name: User-Involved
          in: header
          description: >
            The flag identifies if the end user is online and the request was
            made based on his activity.
          required: true
          schema:
            title: userInvolved
            description: >
              The flag identifies if the end user is online and the request was
              made based on his activity.
            type: boolean
            example: true
        - name: User–IP-Address
          in: header
          description: >
            Identifies the API's end-user IP address. The TPP should fill this
            value if the IP address can be detected. The address can be in IPv4
            or IPv6 format.
          required: false
          schema:
            title: userIpAddress
            description: >
              Identifies the API's end-user IP address. The TPP should fill this
              value if the IP address can be detected. The address can be in
              IPv4 or IPv6 format.
            type: string
            maxLength: 50
            example: 192.168.1.221
        - name: User–IP-Port
          in: header
          description: >
            An element used to pass on information about what end-user IP port
            is using.
          required: false
          schema:
            title: userIpPort
            description: >
              An element used to pass on information about what end-user IP port
              is using.
            type: string
            maxLength: 40
            example: '443'
        - name: User-Device-OS
          in: header
          description: >
            The element is used to forward information about the end user
            operating system used.
          required: false
          schema:
            title: userDeviceOs
            description: >
              The element is used to forward information about the end user
              operating system used.
            type: string
            maxLength: 100
            example: Mac OS
        - name: User-User-Agent
          in: header
          description: >
            Contains information about the end-user web browser. The format
            should be the same as the standard HTTP parameter User-Agent.
          required: false
          schema:
            title: userUserAgent
            description: >
              Contains information about the end-user web browser. The format
              should be the same as the standard HTTP parameter User-Agent.
            type: string
            maxLength: 200
            example: >-
              Mozilla/5.0 (Macintosh; Intel Mac OS X x.y; rv:42.0)
              Gecko/20100101 Firefox/42.0
        - name: User-Timestamp
          in: header
          description: |
            Local time on User's device.
          required: false
          schema:
            title: userTimestamp
            description: |
              Local time on User's device.
            type: string
            example: '1568452581'
        - name: User-Geo-Location
          in: header
          description: >
            End-user GPS coordinates (if the coordinates can be reliably
            detected).


            **Required format:** GEO:Latitude;Longitude


            Based on [RFC2426] in signed degrees format (DDD.dddd)
          required: false
          schema:
            title: userGeoLocation
            description: >
              End-user GPS coordinates (if the coordinates can be reliably
              detected).


              **Required format:** GEO:Latitude;Longitude


              Based on [RFC2426] in signed degrees format (DDD.dddd)
            type: string
            maxLength: 100
            example: 'GEO:50.089354;14.400031'
        - name: User-Device-ID
          in: header
          description: >
            It contains a unique identifier of end user equipment, if available.
            For example, a unique mobile device identifier (IMEI).
          required: false
          schema:
            title: userDeviceId
            description: >
              It contains a unique identifier of end user equipment, if
              available. For example, a unique mobile device identifier (IMEI).
            type: string
            example: '990000862471854'
        - name: TPP-Name
          in: header
          description: >
            The name of the original TPP that created the request. Eg. ‘Star
            corporation, a.s.’.
          required: true
          schema:
            title: tppName
            description: >
              The name of the original TPP that created the request. Eg. ‘Star
              corporation, a.s.’.
            type: string
            example: 'Star Corporation, a.s.'
        - name: TPP-Identification
          in: header
          description: >
            The identification (licence number) of the original TPP that created
            the request. Eg. ‘CZ013574-15’.
          required: false
          schema:
            title: tppIdentification
            description: >
              The identification (licence number) of the original TPP that
              created the request. Eg. ‘CZ013574-15’.
            type: string
            example: CZ013984-14
        - name: Signature
          in: header
          description: |
            If the TPP signs the request, it contains a digital signature.
          required: false
          schema:
            title: signatureHeader
            description: |
              If the TPP signs the request, it contains a digital signature.
            type: string
            example: ACDE666345014BB46003B0706277D9F0A407CC6815DE7F550CF83310F1A82D9C
        - name: Digest
          in: header
          description: >
            When an TPP  includes a signature he also must include a "Digest"
            header as defined in [RFC3230].
          required: false
          schema:
            title: digestHeader
            description: >
              When an TPP  includes a signature he also must include a "Digest"
              header as defined in [RFC3230].
            type: string
            example: F6A5CBE090AE0506D5EB1D0D38370FE8EC55591545F234B5B09F8832AF434CCA
        - name: TPP-Signature-Certificate
          in: header
          description: >
            The public TPP certificate used for signing the request, In base64
            encoding (with the "BEGIN CERTIFICATE" and "END CERTIFICATE"
            markers).
          required: false
          schema:
            title: tppSignatureCertificate
            description: >
              The public TPP certificate used for signing the request, In base64
              encoding (with the "BEGIN CERTIFICATE" and "END CERTIFICATE"
              markers).
            type: string
            example: >-
              B837482297624E072EB04C0A8CA6A03ED48FBFD74255DEAA2DE471E9F203AFB5...
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
            X-Request-ID:
              description: >
                Unique identifier for each request specified by TPP returned in
                response header.
              required: true
              schema:
                title: xRequestId
                description: >
                  Unique identifier for each request specified by TPP. It is
                  recommended to use a UUID format with a length of 36 to 60
                  characters.
                type: string
                maxLength: 60
                example: f713da2b-6908-4c3f-9461-784f74b86710
            Action-ID:
              description: >
                IDs that identify the technical or business process within the
                call of each API request. APSPS should have a return value in
                this case.
              required: false
              schema:
                title: actionId
                description: >
                  IDs that identify the technical or business process within the
                  call of each API request.


                  For example, it can be used to identify the process of
                  retrieving a transaction history that is provided as a paged
                  response available through multiple requests.
                type: string
                maxLength: 60
                example: 2f549458-b592-4a85-ad57-e9610dfd5218
            Signature:
              description: >
                If the ASPSP signs the response, it contains a digital
                signature.
              required: false
              schema:
                title: signatureHeader
                description: |
                  If the TPP signs the request, it contains a digital signature.
                type: string
                example: >-
                  ACDE666345014BB46003B0706277D9F0A407CC6815DE7F550CF83310F1A82D9C
            Digest:
              description: >
                When the ASPS in response includes a signature he also must
                include a "Digest" header as defined in [RFC3230].
              required: false
              schema:
                title: digestHeader
                description: >
                  When an TPP  includes a signature he also must include a
                  "Digest" header as defined in [RFC3230].
                type: string
                example: >-
                  F6A5CBE090AE0506D5EB1D0D38370FE8EC55591545F234B5B09F8832AF434CCA
            ASPSP-Signature-Certificate:
              description: >
                The public ASPSP certificate used for signing the request, In
                base64 encoding.
              required: false
              schema:
                title: aspspSignatureCertificate
                description: >
                  The public ASPSP certificate used for signing the request, In
                  base64 encoding.
                type: string
                example: >-
                  4710C3600CB14042ADE6EBA7194C2A2C01F6C2EEADF7894AF212797C53BB84D0...
          content:
            application/json:
              schema:
                title: getAccountsBalances
                description: Response message for account balances
                type: object
                required:
                  - balances
                properties:
                  balances:
                    title: balancesArray
                    description: |
                      Set of balances of client payment account
                    type: array
                    items:
                      title: balanceInfo
                      description: |
                        Account balance information
                      type: object
                      required:
                        - type
                        - amount
                        - creditDebitIndicator
                        - date
                      properties:
                        type:
                          title: balanceType
                          description: >
                            Determines the balance type to which information on
                            account balance applies.
                          type: object
                          required:
                            - codeOrProprietary
                          properties:
                            codeOrProprietary:
                              title: codeOrProprietary
                              description: |
                                Codes of balance types.
                              type: object
                              required:
                                - code
                              properties:
                                code:
                                  description: >
                                    Indicates the type of balance to which the
                                    balance information relates.
                                  type: string
                                  enum:
                                    - CLAV
                                    - PRCD
                                    - CLBD
                                    - ITBD
                                  example: CLAV
                        creditLine:
                          title: creditLine
                          description: Amount of agreed permitted debit/overdraft
                          type: object
                          required:
                            - included
                          properties:
                            included:
                              title: included
                              description: Included debit/overdraft
                              type: boolean
                              example: true
                            amount:
                              title: creditLineAmount
                              description: |
                                Amount of agreed permitted debit
                              type: object
                              required:
                                - value
                                - currency
                              properties:
                                value:
                                  title: value
                                  description: Amount value
                                  type: number
                                  example: 10000
                                currency:
                                  title: currencyCode
                                  description: >
                                    Defined account currency.


                                    Currency code according to ISO 4217 = 3
                                    capital letters.
                                  type: string
                                  maxLength: 3
                                  pattern: '[A-Z]{3}'
                                  example: CZK
                        amount:
                          title: balanceAmount
                          description: >
                            Value/amount of account balance according to balance
                            type. The currency corresponds to the currency of
                            the account to which the balance information is
                            generated.
                          type: object
                          required:
                            - value
                            - currency
                          properties:
                            value:
                              title: value
                              description: Amount value
                              type: number
                              example: 10000
                            currency:
                              title: currencyCode
                              description: >
                                Defined account currency.


                                Currency code according to ISO 4217 = 3 capital
                                letters.
                              type: string
                              maxLength: 3
                              pattern: '[A-Z]{3}'
                              example: CZK
                        creditDebitIndicator:
                          title: creditDebitIndicator
                          description: >
                            Indication of whether the balance in the account for
                            which the balance information is generated.


                            The indication of whether this is a debit or credit
                            payment is marked with one of the following codes:

                              - DBIT To the debit of
                              - CRDT In other cases
                          type: string
                          enum:
                            - DBIT
                            - CRDT
                          example: DBIT
                        date:
                          title: dateOfBalance
                          description: >
                            Date (and time) of balance of the account for which
                            the balance information is generated.
                          type: object
                          required:
                            - dateTime
                          properties:
                            dateTime:
                              description: >-
                                Date or date and time of the balance according
                                to ISO 8601
                              type: string
                              example: '2017-02-17T12:32:41.0Z'
              example:
                balances:
                  - type:
                      codeOrProprietary:
                        code: PRCD
                    creditLine:
                      included: true
                      amount:
                        value: 10000
                        currency: CZK
                    amount:
                      value: 4520.15
                      currency: CZK
                    creditDebitIndicator: DBIT
                    date:
                      dateTime: '2017-02-17T12:32:41.0Z'
        '400':
          description: Bad request
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
            X-Request-ID:
              description: >
                Unique identifier for each request specified by TPP returned in
                response header.
              required: true
              schema:
                title: xRequestId
                description: >
                  Unique identifier for each request specified by TPP. It is
                  recommended to use a UUID format with a length of 36 to 60
                  characters.
                type: string
                maxLength: 60
                example: f713da2b-6908-4c3f-9461-784f74b86710
            Action-ID:
              description: >
                IDs that identify the technical or business process within the
                call of each API request. APSPS should have a return value in
                this case.
              required: false
              schema:
                title: actionId
                description: >
                  IDs that identify the technical or business process within the
                  call of each API request.


                  For example, it can be used to identify the process of
                  retrieving a transaction history that is provided as a paged
                  response available through multiple requests.
                type: string
                maxLength: 60
                example: 2f549458-b592-4a85-ad57-e9610dfd5218
          content:
            application/json:
              schema:
                title: error400_getAccountsBalances
                description: >
                  This is an invalid query that cannot be answered. E.g., if
                  JSON content is not valid for this resource.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      anyOf:
                        - title: error_AC09_400
                          description: >
                            [InvalidAccountCurrency] – for multicurrency
                            accounts, or currency not supported according to the
                            table of exchanges.
                          type: object
                          required:
                            - error
                          properties:
                            error:
                              type: string
                              example: AC09
                            parameters:
                              title: errorParameters
                              description: >
                                The field of additional elements specific for
                                the given error code. These parameters are
                                always specified in the description of a
                                specific error code.
                              type: object
                              example:
                                AMOUNT_ENTERED: 10000
                                CURRENCY: EUR
                                LIMIT: 500
                            scope:
                              title: scope
                              description: >
                                It determines the JSON path of the request
                                element that caused the error status.
                              type: string
                              example: account.amount.currency
                            message:
                              title: errorMessage
                              description: >
                                Optional text description. It is not intended
                                for interpretation to the end user but, for
                                example, to enrich the error log.
                              type: string
                              example: Requested amount is too large
                          example:
                            - error: AC09
                              scope: currency
                              parameters: null
                              message: null
              example:
                errors:
                  - error: AC09
                    scope: currency
        '401':
          description: Unauthorised
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
          content:
            application/json:
              schema:
                title: error401
                description: |
                  Querying requires user authentication
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      anyOf:
                        - title: error_UNAUTHORISED_401
                          description: >
                            Invalid/missing access token = user is not
                            authenticated
                              OR
                            Invalid/missing certificate = provider is not
                            authenticated/authorised
                          type: object
                          required:
                            - error
                          properties:
                            error:
                              type: string
                              example: UNAUTHORISED
                            parameters:
                              title: errorParameters
                              description: >
                                The field of additional elements specific for
                                the given error code. These parameters are
                                always specified in the description of a
                                specific error code.
                              type: object
                              example:
                                AMOUNT_ENTERED: 10000
                                CURRENCY: EUR
                                LIMIT: 500
                            scope:
                              title: scope
                              description: >
                                It determines the JSON path of the request
                                element that caused the error status.
                              type: string
                              example: account.amount.currency
                            message:
                              title: errorMessage
                              description: >
                                Optional text description. It is not intended
                                for interpretation to the end user but, for
                                example, to enrich the error log.
                              type: string
                              example: Requested amount is too large
                          example:
                            - error: UNAUTHORISED
        '403':
          description: Forbidden
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
          content:
            application/json:
              schema:
                title: error403
                description: >
                  Authentication with an invalid certificate or expired access
                  token, a call that does not match a third-party license.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      anyOf:
                        - title: error_FORBIDDEN_403
                          description: >
                            Authentication with an invalid certificate or
                            expired access token, a call that does not match a
                            third-party license.
                          type: object
                          required:
                            - error
                          properties:
                            error:
                              type: string
                              example: FORBIDDEN
                            parameters:
                              title: errorParameters
                              description: >
                                The field of additional elements specific for
                                the given error code. These parameters are
                                always specified in the description of a
                                specific error code.
                              type: object
                              example:
                                AMOUNT_ENTERED: 10000
                                CURRENCY: EUR
                                LIMIT: 500
                            scope:
                              title: scope
                              description: >
                                It determines the JSON path of the request
                                element that caused the error status.
                              type: string
                              example: account.amount.currency
                            message:
                              title: errorMessage
                              description: >
                                Optional text description. It is not intended
                                for interpretation to the end user but, for
                                example, to enrich the error log.
                              type: string
                              example: Requested amount is too large
                          example:
                            - error: FORBIDDEN
        '404':
          description: Not Found
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
            X-Request-ID:
              description: >
                Unique identifier for each request specified by TPP returned in
                response header.
              required: true
              schema:
                title: xRequestId
                description: >
                  Unique identifier for each request specified by TPP. It is
                  recommended to use a UUID format with a length of 36 to 60
                  characters.
                type: string
                maxLength: 60
                example: f713da2b-6908-4c3f-9461-784f74b86710
            Action-ID:
              description: >
                IDs that identify the technical or business process within the
                call of each API request. APSPS should have a return value in
                this case.
              required: false
              schema:
                title: actionId
                description: >
                  IDs that identify the technical or business process within the
                  call of each API request.


                  For example, it can be used to identify the process of
                  retrieving a transaction history that is provided as a paged
                  response available through multiple requests.
                type: string
                maxLength: 60
                example: 2f549458-b592-4a85-ad57-e9610dfd5218
          content:
            application/json:
              schema:
                title: error404
                description: |
                  The requested object / page does not exist or was not found.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      anyOf:
                        - title: error_NOT_FOUND_404
                          description: >
                            The requested object / page does not exist or was
                            not found.
                          type: object
                          required:
                            - error
                          properties:
                            error:
                              type: string
                              example: ID_NOT_FOUND
                            parameters:
                              title: errorParameters
                              description: >
                                The field of additional elements specific for
                                the given error code. These parameters are
                                always specified in the description of a
                                specific error code.
                              type: object
                              example:
                                AMOUNT_ENTERED: 10000
                                CURRENCY: EUR
                                LIMIT: 500
                            scope:
                              title: scope
                              description: >
                                It determines the JSON path of the request
                                element that caused the error status.
                              type: string
                              example: account.amount.currency
                            message:
                              title: errorMessage
                              description: >
                                Optional text description. It is not intended
                                for interpretation to the end user but, for
                                example, to enrich the error log.
                              type: string
                              example: Requested amount is too large
                          example:
                            - error: ID_NOT_FOUND
              example:
                errors:
                  - error: ID_NOT_FOUND
        '415':
          description: Unsupported Media Type
          headers:
            Content-Type:
              description: >
                Defines MIME media type of the response. For example
                application/json or application/xml in case of bulk payment
                initiation.
              required: true
              schema:
                title: contentType
                description: >
                  Defines MIME media type of the resource. For example
                  application/json or application/x-www-form-urlencoded (OAuth2
                  /auth resources) and application/xml in case of bulk payment
                  initiation.
                type: string
                maxLength: 50
                example: application/json
            X-Request-ID:
              description: >
                Unique identifier for each request specified by TPP returned in
                response header.
              required: true
              schema:
                title: xRequestId
                description: >
                  Unique identifier for each request specified by TPP. It is
                  recommended to use a UUID format with a length of 36 to 60
                  characters.
                type: string
                maxLength: 60
                example: f713da2b-6908-4c3f-9461-784f74b86710
            Action-ID:
              description: >
                IDs that identify the technical or business process within the
                call of each API request. APSPS should have a return value in
                this case.
              required: false
              schema:
                title: actionId
                description: >
                  IDs that identify the technical or business process within the
                  call of each API request.


                  For example, it can be used to identify the process of
                  retrieving a transaction history that is provided as a paged
                  response available through multiple requests.
                type: string
                maxLength: 60
                example: 2f549458-b592-4a85-ad57-e9610dfd5218
          content:
            application/json:
              schema:
                title: error415
                description: >
                  Request contains a request for unsupported transmission type
                  (e.g. in relation to headers Accept and Accept-Language).
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      anyOf:
                        - title: error_UNSUPPORTED_MEDIA_TYPE_415
                          description: >
                            Request contains a request for unsupported
                            transmission type (e.g. in relation to headers
                            Accept and Accept-Language).
                          type: object
                          required:
[...]
