openapi: 3.0.1
info:
  title: Czech Open Banking Standard
  version: "8.0.0"
  description: |

  contact:
    name: Petr Michalik
    email: pmichalik@csas.cz

servers:
  - url: https://api.bank.cz
    description: An openbanking test server

components:
  securitySchemes:
    $ref: "./components/securitySchemas.yaml"

paths:
  /my/accounts:
    get:
      summary: List of client payment accounts
      description: |
        Paged list of client accounts. Each account contains a unique id usable for URI referencing, e.g. for the account detail.

        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** yes
          * **Sorting:**  yes
          * **Filtering:**  no
      operationId: -getAllAccounts
      tags:
        - Account information

      security:
        - OAuth2: [AISP, aisp.accounts]
          ClientCert: []
          ApiKey: []

      parameters:
      #path
      #query
        - $ref: "./components/parameters/queries.yaml#/pageSizeParam"
        - $ref: "./components/parameters/queries.yaml#/pageParam"
        - $ref: "./components/parameters/queries.yaml#/sortParam"
        - $ref: "./components/parameters/queries.yaml#/orderParam"
      #header
          #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_AllAccountList.yaml#/OK_200_AllAccountList"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_getAllAccounts.yaml#/BAD_REQUEST_400_getAllAccounts"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

  /my/accounts/{id}/balance:
    get:
      summary: Account balance
      description: |
        The balance of the specific client account according to the reference id account.

        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** no
          * **Sorting:**  no
          * **Filtering:**  no
      operationId: -getAccountsBalances
      tags:
        - Account information

      security:
        - OAuth2: [AISP, aisp.balances]
          ClientCert: []
          ApiKey: []

      parameters:
      #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
      #query
        - $ref: "./components/parameters/queries.yaml#/currencyParam"
      #header
          #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_AccountsBalances.yaml#/OK_200_AccountsBalances"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_getAccountsBalances.yaml#/BAD_REQUEST_400_getAccountsBalances"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

  /my/accounts/{id}/transactions:
    get:
      summary: Overview of transactions
      description: |
        Paged list of transactions of a selected client account.

        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** yes
          * **Sorting:**  yes
          * **Filtering:**  no
      operationId: -getAccountsTransactions
      tags:
        - Account information

      security:
        - OAuth2: [AISP, aisp.transactions]
          ClientCert: []
          ApiKey: []

      parameters:
      #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
      #query
        - $ref: "./components/parameters/queries.yaml#/fromDate"
        - $ref: "./components/parameters/queries.yaml#/toDate"
        - $ref: "./components/parameters/queries.yaml#/currencyParam"
        - $ref: "./components/parameters/queries.yaml#/pageSizeParam"
        - $ref: "./components/parameters/queries.yaml#/pageParam"
        - $ref: "./components/parameters/queries.yaml#/sortParam"
        - $ref: "./components/parameters/queries.yaml#/orderParam"
      #header
          #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_AccountsTransactions.yaml#/OK_200_AccountsTransactions"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_getAccountsTransactions.yaml#/BAD_REQUEST_400_getAccountsTransactions"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

  /my/payments/awaiting:
    get:
      summary: Overview of awaiting transactions
      description: |
        Paged list of client’s awaiting payments on all accounts. Each payment contains a unique id usable for URI referencing, e.g. for the payment detail.
        Additionally, the debtorAccount contains an API account id to call the account details resource to which the payment order is issued.

      operationId: -getAwaitingTransactions
      tags:
        - Account information

      security:
        - OAuth2: [AISP]
          ClientCert: []
          ApiKey: []

      parameters:
        #path

        #query
        - $ref: "./components/parameters/queries.yaml#/pageSizeParam"
        - $ref: "./components/parameters/queries.yaml#/pageParam"
        - $ref: "./components/parameters/queries.yaml#/sortParam"
        - $ref: "./components/parameters/queries.yaml#/orderParam"
          #header
          #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_AwaitingAccountsTransactions.yaml#/OK_200_AwaitingAccountsTransactions"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_getAccountsTransactions.yaml#/BAD_REQUEST_400_getAccountsTransactions"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

  /my/accounts/{id}/payments/awaiting:
    get:
      summary: Overview of awaiting transactions on specific user account
      description: |
        Paged list of client’s awaiting payments on specific accounts. Each payment contains a unique id usable for URI referencing, e.g. for the payment detail.
        Additionally, the debtorAccount contains an API account id to call the account details resource to which the payment order is issued.

      operationId: -getAccountAwaitingTransactions
      tags:
        - Account information

      security:
        - OAuth2: [AISP]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
        #query
        - $ref: "./components/parameters/queries.yaml#/pageSizeParam"
        - $ref: "./components/parameters/queries.yaml#/pageParam"
        - $ref: "./components/parameters/queries.yaml#/sortParam"
        - $ref: "./components/parameters/queries.yaml#/orderParam"
          #header
          #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_AwaitingAccountsTransactions.yaml#/OK_200_AwaitingAccountsTransactions"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_getAccountsTransactions.yaml#/BAD_REQUEST_400_getAccountsTransactions"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"


  /my/standingorders:
    get:
      summary: List of client’s standing orders
      description: |
        Paged list of client’s standing orders. Each standing order contains a unique id usable for URI referencing, e.g. for the standing order detail.

        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** yes
          * **Sorting:**  yes
          * **Filtering:**  no
      operationId: -getStandingorders
      tags:
        - Standing Orders

      security:
        - OAuth2: [AISP, aisp.standingorders]
          ClientCert: []
          ApiKey: []

      parameters:
      #path
      #query
        - $ref: "./components/parameters/queries.yaml#/pageSizeParam"
        - $ref: "./components/parameters/queries.yaml#/pageParam"
        - $ref: "./components/parameters/queries.yaml#/sortParam"
        - $ref: "./components/parameters/queries.yaml#/orderParam"

      #header
          #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_StandingOrders.yaml#/OK_200_StandingOrders"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

    post:
      summary: New standing order - instruction initiation
      description: |
        Resource for entering a new standingorder.
      operationId: -postNewStandingOrder
      tags:
        - Standing Orders

      security:
        - OAuth2: [PISP, pisp.standingorders]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      requestBody:
        $ref: "./components/requestBodies/requestNewStandingOrder.yaml#/requestNewStandingOrder"

      responses:
        '200':
          $ref: "./components/responses/OK_200_newStandingOrder.yaml#/OK_200_newStandingOrder"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_postNewStandingOrder.yaml#/BAD_REQUEST_400_postNewStandingOrder"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"


  /my/standingorders/{transactionIdentification}:
    get:
      summary: Detail about the standing order
      description: |
        Resource for get detail about the standing order. 
        It is at the choice of each bank whether to return details of any client’s standing order or just those that the client has established through a particular TPP.
  
  
          **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** no
          * **Sorting:**  no
          * **Filtering:**  no
      operationId: -getStandingorder
      tags:
        - Standing Orders

      security:
        - OAuth2: [PISP, AISP, pisp.standingorders, aisp.standingorders]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/transactionIdentification"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_StandingOrder.yaml#/OK_200_StandingOrder"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

    delete:
      summary: Resource to delete standing order.
      description: |
        Resource to delete unauthorised and authorised standing orders. 

        Deleting of an authorised standing order must be followed by the authorisation process which is identical with the new standing order authorisation process.
        
        
          **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** no
          * **Sorting:**  no
          * **Filtering:**  no
      operationId: -deleteStandingorder
      tags:
        - Standing Orders

      security:
        - OAuth2: [PIS, pisp.standingorders]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/transactionIdentification"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_deleteStandingOrder.yaml#/OK_200_deleteStandingOrder"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"
    put:
      summary: Update standing order - instruction initiation
      description: |
        Resource for change of standing order specification.
      operationId: -updateStandingOrder
      tags:
        - Standing Orders

      security:
        - OAuth2: [PISP, pisp.standingorders]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/transactionIdentification"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      requestBody:
        $ref: "./components/requestBodies/requestPutStandingOrder.yaml#/requestPutStandingOrder"

      responses:
        '200':
          $ref: "./components/responses/OK_200_putStandingOrder.yaml#/OK_200_putStandingOrder"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_postNewStandingOrder.yaml#/BAD_REQUEST_400_postNewStandingOrder"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"


  /my/standingorders/{transactionIdentification}/status:
    get:
      summary: Resource for getting status of the standing order
      description: |
        Resource for getting status of the standing order.
        
          **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** no
          * **Sorting:**  no
          * **Filtering:**  no
      operationId: -getStandingorderStatus
      tags:
        - Standing Orders

      security:
        - OAuth2: [PISP, pisp.standingorders]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/transactionIdentification"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_StandingOrderStatus.yaml#/OK_200_StandingOrderStatus"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

  /my/standingorders/{transactionIdentification}/sign/{signId}:
    get:
      summary: Step I. Standing Order authorization detail
      description: |
        - To identify the status and scenarios of Standing Order authorization.
        - Part of the response is also the set of scenarios that may contain one or more authorisation scenarios. If more scenarios are returned, it is up to the client to select what scenario to choose. The power of verifying each scenario should correspond to the power of other scenarios, or the scenarios are mutually replaceable.
        - Each scenario is defined as the sequence of codes of particular authorization methods.
        - Each bank may define and describe in its documentation its own authorization scenarios.
        - CODE of authorization methods of these scenarios is used in the response of this resource.
        
        
        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of the API calling
          * **Use certificate:**  request requires the use of the third-party qualified certificate
          * **Paging:** no
          * **Sorting:**  no
          * **Filtering:**  no
      operationId: -getStandingOrderAuthorizationDetail
      tags:
        - Standing Orders

      security:
        - OAuth2: [PISP, pisp.standingorders]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/transactionIdentification"
        - $ref: "./components/parameters/paths.yaml#/signId"
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_StandingOrderAuthorizationId.yaml#/OK_200_StandingOrderAuthorizationId"

        '400':
          $ref: "./components/responses/AUTH_LIMIT_EXCEEDED_400.yaml#/AUTH_LIMIT_EXCEEDED_400"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '501':
          $ref: "./components/responses/NOT_IMPLEMENTED_501.yaml#/NOT_IMPLEMENTED_501"

    post:
      summary: Step II. Standing Order authorization initiation - specific for each bank
      description: |
        - This resource is designed to **start a specific authorization method** from the selected scenario.
        - The input is the JSON object containing the required type of authorization method - **CODE** and all elements specific for that step.
        - The output of this resource is an overview of values required for completing the authorization.
        - **E.g., for CODE corresponding to the federated authorization, the response will be URL and parameters for redirecting to the federated authorization page.**
        - And, for instance, for CODE corresponding to authorization through the OTP code sent by SMS, the response will only be the confirmation of sending the code. The sending as such is initiated by the bank.
        
        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** no
          * **Sorting:**  no
          * **Filtering:**  no
      operationId: -postStandingOrderAuthorizationInitiation
      tags:
        - Standing Orders

      security:
        - OAuth2: [PISP, pisp.standingorders]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/transactionIdentification"
        - $ref: "./components/parameters/paths.yaml#/signId"
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      requestBody:
        $ref: "./components/requestBodies/requestStandingOrderAuthorizationInitiation.yaml#/requestStandingOrderAuthorizationInitiation"

      responses:
        '200':
          $ref: "./components/responses/OK_200_postStandingOrderAuthorizationInitiation.yaml#/OK_200_postStandingOrderAuthorizationInitiation"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_postPaymentAuthorization.yaml#/BAD_REQUEST_400_postPaymentAuthorization"

    put:
      summary: Step III. Standing Order authorization initiation – specific for each bank
      description: |
        - An optional resource designed for the finalization of the authorization process. 
        - The resource may be purely indicative or returns information on whether the authorization process was completed and with what result. 
        - E.g., in the case of federated authorization.
        - Or what input, e.g. for entering the received OTP for the SMS method.
        - Then the output is information on the authorization and also OTP verification.
        
        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of the API calling
          * **Use certificate:**  request requires the use of the third-party qualified certificate
          * **Paging:** no
          * **Sorting:**  no
          * **Filtering:**  no
      operationId: -putStandingOrderAuthorizationInitiation
      tags:
        - Standing Orders

      security:
        - OAuth2: [PISP, pisp.standingorders]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/transactionIdentification"
        - $ref: "./components/parameters/paths.yaml#/signId"
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_putStandingOrderAuthorizationInitiation.yaml#/OK_200_putStandingOrderAuthorizationInitiation"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '400':
          $ref: "./components/responses/AUTH_LIMIT_EXCEEDED_400.yaml#/AUTH_LIMIT_EXCEEDED_400"

        '501':
          $ref: "./components/responses/NOT_IMPLEMENTED_501.yaml#/NOT_IMPLEMENTED_501"



  /my/accounts/{id}/directdebits:
    get:
      summary: List of client’s domestic direct debits Consents
      description: |
        Paged list of client’s domestic direct debits Consents. Each domestic direct debit Consent (Mandate) contains a unique id usable for URI referencing, e.g., for the domestic direct debit detail.
        
        Additionally, the debtorAccount contains an API account id to call the account details resource to which the payment order is issued.
      operationId: -getDirectDebits
      tags:
        - Direct Debits

      security:
        - OAuth2: [AISP, aisp.directdebits]
          ClientCert: [ ]
          ApiKey: [ ]

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
        #query
        - $ref: "./components/parameters/queries.yaml#/pageSizeParam"
        - $ref: "./components/parameters/queries.yaml#/pageParam"
        - $ref: "./components/parameters/queries.yaml#/sortParam"
        - $ref: "./components/parameters/queries.yaml#/orderParam"
        #header
          #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_DirectDebits.yaml#/OK_200_DomesticDirectDebits"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

    post:
      summary: Domestic direct debit consent - instruction initiation
      description: |
        Resource for entering a new domestic direct debit consent.
      operationId: -postDirectDebit
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      requestBody:
        $ref: "./components/requestBodies/requestDirectDebit.yaml#/requestDirectDebit"

      responses:
        '200':
          $ref: "./components/responses/OK_200_newDirectDebit.yaml#/OK_200_newDirectDebit"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_postNewDirectDebit.yaml#/BAD_REQUEST_400_postNewDirectDebit"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

  /my/accounts/{id}/directdebits/{mandateIdentification}:
    get:
      summary: Domestic direct debit Consent detail
      description: |
        Resource for get detail about the domestic direct debit Consent.
        
        It is at the choice of each bank whether to return details of any client’s direct debit Consent or just those that the client has established through a particular TPP.

      operationId: -getDirectDebit
      tags:
        - Direct Debits

      security:
        - OAuth2: [AISP, aisp.directdebits]
          ClientCert: [ ]
          ApiKey: [ ]

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
        - $ref: "./components/parameters/paths.yaml#/mandateIdentification"
        #query
        #header
          #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_DirectDebit.yaml#/OK_200_DomesticDirectDebit"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

    put:
      summary: Domestic direct debit consent change
      description: |
        Resource for change of domestic direct debit Consent specification.
      operationId: -putDirectDebit
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
        - $ref: "./components/parameters/paths.yaml#/mandateIdentification"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      requestBody:
        $ref: "./components/requestBodies/requestPutDirectDebit.yaml#/requestPutDirectDebit"

      responses:
        '200':
          $ref: "./components/responses/OK_200_changeDirectDebit.yaml#/OK_200_changeDirectDebit"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_putDirectDebit.yaml#/BAD_REQUEST_400_putDirectDebit"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

    delete:
      summary: Domestic direct debit Consent delete
      description: |
        Resource for delete of domestic direct debit Consent specification.
        
        
        Deleting of an authorised domestic direct debit Consent must be followed by the authorization process which is identical with the new domestic direct debit Consent authorisation process.

      operationId: -deleteDirectDebit
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
        - $ref: "./components/parameters/paths.yaml#/mandateIdentification"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_deleteDirectDebit.yaml#/OK_200_deleteDirectDebit"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

  /my/accounts/{id}/directdebits/{mandateIdentification}/sign/{signId}:
    get:
      summary: Domestic direct debit authorization Step I
      description: |
        First step of direct debit authorization.

      operationId: -getSignDirectDebit
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
        - $ref: "./components/parameters/paths.yaml#/mandateIdentification"
        - $ref: "./components/parameters/paths.yaml#/signId"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_getSignDirectDebit.yaml#/OK_200_getSignDirectDebit"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

    post:
      summary: Domestic direct debit authorization Step II
      description: |
        Second step of direct debit authorization.

      operationId: -postSignDirectDebit
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
        - $ref: "./components/parameters/paths.yaml#/mandateIdentification"
        - $ref: "./components/parameters/paths.yaml#/signId"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      requestBody:
        $ref: "./components/requestBodies/requestDirectDebitAuthorizationInitiation.yaml#/requestDirectDebitAuthorizationInitiation"

      responses:
        '200':
          $ref: "./components/responses/OK_200_postSignDirectDebit.yaml#/OK_200_postSignDirectDebit"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '400':
          $ref: "./components/responses/AUTH_LIMIT_EXCEEDED_400.yaml#/AUTH_LIMIT_EXCEEDED_400"

    put:
      summary: Domestic direct debit authorization Step III
      description: |
        - An optional resource designed for the finalization of the authorization process. 
        - The resource may be purely indicative or returns information on whether the authorization process was completed and with what result. 
        - E.g., in the case of federated authorization.
        - Or what input, e.g. for entering the received OTP for the SMS method.
        - Then the output is information on the authorization and also OTP verification.
        
        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of the API calling
          * **Use certificate:**  request requires the use of the third-party qualified certificate
          * **Paging:** no
          * **Sorting:**  no
          * **Filtering:**  no
      operationId: -putSignDirectDebit
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
        - $ref: "./components/parameters/paths.yaml#/mandateIdentification"
        - $ref: "./components/parameters/paths.yaml#/signId"
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      requestBody:
        $ref: "./components/requestBodies/requestPutDirectDebitAuthorization.yaml#/requestPutDirectDebitAuthorization"

      responses:
        '200':
          $ref: "./components/responses/OK_200_putDirectDebitAuthorizationInitiation.yaml#/OK_200_putDirectDebitAuthorizationInitiation"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '400':
          $ref: "./components/responses/AUTH_LIMIT_EXCEEDED_400.yaml#/AUTH_LIMIT_EXCEEDED_400"

        '501':
          $ref: "./components/responses/NOT_IMPLEMENTED_501.yaml#/NOT_IMPLEMENTED_501"

  /my/payments/directdebitorder:
    post:
      summary: New direct debit - payment initiation
      description: |
        Resource for entering a new direct debit.
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ApiKey: [ ]
        - ClientCert: [ ]
          ApiKey: [ ]

      parameters:
      #path
      #query
      #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      requestBody:
        $ref: "./components/requestBodies/requestInitDirectDebit.yaml#/requestInitDirectDebit"

      responses:
        '200':
          $ref: "./components/responses/OK_200_InitDomesticDirectDebit.yaml#/OK_200_InitDomesticDirectDebit"

        '400':
          $ref: "./components/responses/BAD_REQUEST_400_postNewDirectDebitOrder.yaml#/BAD_REQUEST_400_postNewDirectDebitOrder"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

    get:
      summary: List of client's direct debit orders
      description: |
        Paged list of client’s direct debit orders. Each direct debit order contains a unique id usable for URI referencing, e.g. for the direct debit order detail.
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ApiKey: [ ]
        - ClientCert: [ ]
          ApiKey: [ ]

      parameters:
        #path
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_DirectDebitOrderList.yaml#/OK_200_DirectDebitOrderList"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

  /my/payments/directdebitorder/{transactionIdentification}:
    get:
      summary: Detail about the direct debit order
      description: |
        Resource for getting the detail about the direct debit order.
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ApiKey: [ ]
        - ClientCert: [ ]
          ApiKey: [ ]

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/transactionIdentification"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_DirectDebitOrderDetail.yaml#/OK_200_DirectDebitOrderDetail"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

    delete:
      summary: Resource to delete the direct debit order
      description: |
        Resource to delete direct debit order.
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ApiKey: [ ]
        - ClientCert: [ ]
          ApiKey: [ ]

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/transactionIdentification"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_DirectDebitOrderDelete.yaml#/OK_200_DirectDebitOrderDelete"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

  /my/payments/directdebitorder/{transactionIdentification}/status:
    get:
      summary: Resource for getting the status of the direct debit order
      description: |
        Resource for getting the status of the direct debit order.
      tags:
        - Direct Debits

      security:
        - OAuth2: [PISP, pisp.directdebits]
          ApiKey: [ ]
        - ClientCert: [ ]
          ApiKey: [ ]

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/transactionIdentification"
        #query
        #header
        #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
        - $ref: "./components/parameters/requestHeaders.yaml#/transferEncoding"
        - $ref: "./components/parameters/requestHeaders.yaml#/actionIdReq"
          #optional User Information in header
        - $ref: "./components/parameters/requestHeaders.yaml#/userInvolved"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpAddress"
        - $ref: "./components/parameters/requestHeaders.yaml#/userIpPort"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceOs"
        - $ref: "./components/parameters/requestHeaders.yaml#/userUserAgent"
        - $ref: "./components/parameters/requestHeaders.yaml#/userTimestamp"
        - $ref: "./components/parameters/requestHeaders.yaml#/userGeoLocation"
        - $ref: "./components/parameters/requestHeaders.yaml#/userDeviceId"
          #header to support the tpp informations
        - $ref: "./components/parameters/requestHeaders.yaml#/tppName"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppIdentification"
          #header to support the signature function
        - $ref: "./components/parameters/requestHeaders.yaml#/signatureHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/digestHeaderReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/tppSignatureCertificate"

      responses:
        '200':
          $ref: "./components/responses/OK_200_DirectDebitOrderStatus.yaml#/OK_200_DirectDebitOrderStatus"

        '401':
          $ref: "./components/responses/UNAUTHORIZED_401.yaml#/UNAUTHORIZED_401"

        '403':
          $ref: "./components/responses/FORBIDDEN_403.yaml#/FORBIDDEN_403"

        '404':
          $ref: "./components/responses/NOT_FOUND_404.yaml#/NOT_FOUND_404"

        '415':
          $ref: "./components/responses/UNSUPPORTED_MEDIA_TYPE_415.yaml#/UNSUPPORTED_MEDIA_TYPE_415"

        '500':
          $ref: "./components/responses/INTERNAL_SERVER_ERROR_500.yaml#/INTERNAL_SERVER_ERROR_500"

        '503':
          $ref: "./components/responses/SERVICE_UNAVAILABLE_503.yaml#/SERVICE_UNAVAILABLE_503"

  /my/accounts/{id}/statements:
    get:
      summary: List of client account statements
      description: |
        Paged list of client account statements. Each account statement contains a unique id usable for URI referencing, e.g. for the account statement download.

        **Resource characteristics:**
          * **Authorization:**  request requires the authorization of user/client as part of API calling
          * **Use certificate:**  request requires the use of the qualified third-party certificate
          * **Paging:** yes
          * **Sorting:**  no (not available as API parameter, but implicit sorting should be implemented to facilitate a predictable paging.
          * **Filtering:**  yes

      operationId: -getAllAccountStatements
      tags:
        - Account statements

      security:
        - OAuth2: [AISP, aisp.statements]
          ClientCert: []
          ApiKey: []

      parameters:
        #path
        - $ref: "./components/parameters/paths.yaml#/accountId"
        #query
        - $ref: "./components/parameters/queries.yaml#/pageSizeParam"
        - $ref: "./components/parameters/queries.yaml#/pageParam"
        - $ref: "./components/parameters/queries.yaml#/year"
        - $ref: "./components/parameters/queries.yaml#/halfyear"
        - $ref: "./components/parameters/queries.yaml#/quarter"
        - $ref: "./components/parameters/queries.yaml#/month"
        - $ref: "./components/parameters/queries.yaml#/week"
        - $ref: "./components/parameters/queries.yaml#/day"
        - $ref: "./components/parameters/queries.yaml#/fromParam"
        - $ref: "./components/parameters/queries.yaml#/toParam"
        - $ref: "./components/parameters/queries.yaml#/matchingParam"
        - $ref: "./components/parameters/queries.yaml#/availability"
          #header
          #common header parameter
        - $ref: "./components/parameters/requestHeaders.yaml#/contentTypeReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/authorization"
        - $ref: "./components/parameters/requestHeaders.yaml#/apiKey"
        - $ref: "./components/parameters/requestHeaders.yaml#/accept"
        - $ref: "./components/parameters/requestHeaders.yaml#/acceptLanguage"
        - $ref: "./components/parameters/requestHeaders.yaml#/xRequestIdReq"
        - $ref: "./components/parameters/requestHeaders.yaml#/dateHeader"
        - $ref: "./components/parameters/requestHeaders.yaml#/contentLength"
[...]
